/* layout et home.php */

html, body {
	font-family: 'Estrangelo Edessa', cursive;
	color: #F8F8F2;
	background-color: #F2E4D1;
}

.container {
	margin: 50px;
	
}

a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}

a:hover {
	color: #8845e0;
	text-decoration: none;

}

/* Titre du site */
h1 {
	color: #00d8ff;

}

h2 {
	color:  #8845e0;
	font-family: 'Estrangelo Edessa', cursive;
}

/* navbar */
.navbar, .navbar-default, .navbar-static-top{
	background: linear-gradient(#0072ff, #00c6ff);
	margin: 0 -15px;
	font-family: 'Estrangelo Edessa', cursive;
}

.navbar-default .navbar-brand {
	color: #fff;
	font-size: 25px;

}

.navbar-default .navbar-brand:hover {
	color: #8845e0;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
	font-size: 20px;
	
}

.navbar-default .navbar-nav > li > a:hover {
	color: #8845e0;
}

.dropdown-menu, .fa, i{
	color: #fff;
	font-size: 15px;
}


.dropdown-menu > li > a {
	color: #8845e0;

}

/* header */
header h2 {
	color: #fff;
	font-family: 'Estrangelo Edessa', cursive;
}

header {
	/* moyen pour ajuster une image à sa hauteur */
	background-image: url(../img/water-1330252_1920.jpg);
	background-size:cover;
    margin:0 -15px;
}

.jumbotron h1 {
	font-family: 'Estrangelo Edessa', cursive;
	font-size: 80px;
}

footer {
	
	padding: 13px 0 5px 0;
	background: linear-gradient(#00c6ff, #0072ff);
}

.footer {
	margin: 0 -30px 0 -25px;

}



.btn-blue {
	background: linear-gradient(#0072ff, #00c6ff);
	color: #fff;
	border: none;
	font-size: 10px;
	padding-top: 12px;

}

.btn-purple:hover {
	color: #00d8ff;
}

.btn-blue:hover {
	color: #8845e0;
}

.btn-purple {
	background: linear-gradient(#9D50BB, #6E48AA);
	color: #fff;
	font-family: 'Estrangelo Edessa', cursive;
	padding: 15px 10px 15px 10px;
	border-radius: 8px;
}

#savoir {
	padding: 10px 8px 10px 8px;
	font-size: 25px;
}

input {
	color: #000;
}

/* régler l'image en responsive */
.beau {
	height: 160px;
	width: 220px;
}

/* responsive design */
@media screen and (max-width: 767px) {
	/* méthode pour afficher les éléments dans le navbar */
	.btn-blue{
		float: left;
		display: inline;
		/* méthode pour enlever les traces du linear-gradient */	
		background: transparent;
	}

.navbar-default .navbar-nav > li > a {
		float: left;
		display: block;
		font-size: 17px;
		
	}

.btn-blue a {
	font-size: 17px;

}

/* pour afficher la couleur du dropdown en blanc */
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
	color: #fff;
	font-size: 18px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle {
	border-color: #fff;
}

.jumbotron h1 {
	font-size: 53px;
}

	}

figure a h4 {
	color: #8845e0;

}

figure a {
	color: #8845e0;
}

.afficher {
	color: #8845e0;
}



footer a {
	font-size: 15px;
	padding-left: 10px;

}

footer p {
	padding-left: 12px;
}

