html, body {
	font-family: Consolas, monaco, monospace;
	color: #F8F8F2;
	background-color: #F2E4D1;
}

.container {
	margin: 50px;
	
}

a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}

a:hover {
	color: #F92672;

}

/* Titre du site */
h1 {
	color: #00d8ff;

}

h2 {
	color: #66D9EF;
}

/* navbar */
.navbar, .navbar-default, .navbar-static-top{
	background-color: #00d8ff;
	font-family: 'Estrangelo Edessa', cursive;
}

.navbar-default .navbar-brand {
	color: #fff;
	font-size: 25px;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
	font-size: 20px;
}

.dropdown-menu, .fa, i{
	color: #fff;
	font-size: 15px;
}



/* header */
header h2 {
	color: #fff;
	font-family: 'Estrangelo Edessa', cursive;
}

header {
	/* moyen pour ajuster une image à sa hauteur */
	background-image: url(../img/water-1330252_1920.jpg);
	background-size:cover;
    margin:0;
}

label {
	color: #00cdf2;
}

footer {
	background-color: #00d8ff;
}

.regions {
	color: #8845e0;
}

.btn-blue {
	background-color: #00d8ff;
	border-color: #00d8ff;
	color: #fff;
	font-size: 15px;
}

.btn-purple {
	background-color: #8845e0;
	border-color: #8845e0;
	color: #fff;
	
}

/* responsive design */
@media screen and (max-width: 767px) {
	/* méthode pour afficher les éléments dans le navbar */
	.btn-blue{
		float: left;
		display: inline;

	}

.navbar-default, .navbar-nav > li > a {
		float: left;
		display: block;
	}

.btn-blue a {
	font-size: 28px;
}

.dropdown-menu {
	color: #fff;
}


}

figure a h4 {
	color: #8845e0;

}

figure a {
	color: #8845e0;
}

label {
	color: #8845e0;
}

.afficher {
	color: #8845e0;
}

